body {
    text-align: center;
    
}

#hcj {
    text-align:justify-all;
    background-image: linear-gradient(to right, green, yellow);
}

.kijki {
    line-height: inherit;
    width: 400px;
    height: 400px;
    border-radius: 200px;
    align-items:flex-end;
}

.lymph {
    font-family: "MonteCarlo", cursive;
    text-align: center;
     
    
}

#vi {
    font-family: "Montez", cursive;
}

.link a:hover {
    background-color: cyan;
}

.link a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}


.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
  
}

.aligue {
    height: 350px;
    width: 200px;
}

.aligue:hover {
    transform: scale(0.9);
}

#dk {
    background-image: linear-gradient(blue, purple);
}

.link {
    float: left;
}

.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    color: white;
    text-shadow: none;
}
.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
#dg{
    background-image: linear-gradient(flo,pink)
    height: 450px;
}
#dj{background-image: linear-gradient(to right,darkgreen,white)}
#dh{background-image: linear-gradient(to right,yellow,yellowgreen)}
#di{background-image: linear-gradient(to right,lightgreen,darkgreen)}